@import "scss/_media-query-mixins";
@import "scss/_sass-variables.scss";

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
  &_inner {
    display: flex;
    flex: 1;
    &_outlet {
      max-height: 77vh;
      width: 100%;
      overflow-y: scroll;
    }
  }
}
