@import "scss/_media-query-mixins";
@import "scss/_sass-variables.scss";

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
  &_inner {
    display: flex;
    flex: 1;
    &_outlet {
      max-height: 77vh;
      margin-left: 21vw;
      width: calc(100% - 21vw);
      overflow-y: scroll;
      @include sm {
        width: 100%;
        margin-left: 0;
      }
      @include md {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}
