@import "scss/_media-query-mixins";
@import "scss/_sass-variables.scss";

.container {
  display: flex;
  flex-direction: column;
  &_header {
    color: $primary;
    font-size: 1.188rem;
    font-weight: 600;
  }
  &_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bgColor;
    padding: $md;
    @include sm {
      flex-direction: column;
      align-items: flex-start;
      gap: $md;
    }
    &_search {
      display: flex;
      align-items: center;
      gap: $sm;
      @include sm {
        max-width: calc(100vw - 2.5rem);
      }
      &_input {
        padding: $sm;
      }
    }
  }
}
