@import "scss/_media-query-mixins";
@import "scss/_sass-variables.scss";

.container {
  display: flex;
  flex-direction: column;

  &_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bgColor;
    padding: $md;

    &_search {
      display: flex;
      align-items: center;
      gap: $sm;
      &_input {
        padding: $sm;
      }
    }
  }
}
