@import "scss/_media-query-mixins";
@import "scss/_sass-variables.scss";

.container {
  background: $white;
  max-width: 21vw;
  min-width: 18vw;
  padding: 0 $lg;
  overflow-y: scroll;
  max-height: 75vh;
  &_menu {
    padding: $xlg 0;
    &_divider {
      border: 0.4px solid #96a0b7;
      margin: 40px 0;
    }
  }
}
