@import "scss/_media-query-mixins";
@import "scss/_sass-variables.scss";

.container {
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.78rem $base;

  &_logo {
    cursor: pointer;
  }

  &_column2 {
    display: flex;
    align-items: center;
    gap: $xxlg;
    &_switch {
      background-color: $bgColor;
    }
  }
}
