@import "scss/_media-query-mixins";
@import "scss/_sass-variables.scss";

.container {
  padding: $base $xxlg;
  flex: 1;
  @include sm {
    padding: $base;
  }
  &_inner {
    background-color: $white;
    border-radius: 6px;
    padding: $lg;
    margin-top: $md;
  }
}

.sideModal {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  &_inner {
    width: auto;
    height: auto;
    min-height: 90vh;
    max-height: 95vh;
    background-color: $white;
    border-radius: 0px;
    padding: 1rem;
    position: relative;
  }
}
