@import "scss/_media-query-mixins";
@import "scss/_sass-variables.scss";

body {
  margin: 0;
  font-family: $font;
  color: $fontColor;
  background-color: $bgColor;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
}
