@import "scss/_media-query-mixins";
@import "scss/_sass-variables.scss";

.container {
  position: relative;

  &_icon {
    cursor: pointer;
  }
  &_modal {
    z-index: 50;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: absolute;
    bottom: 2.5rem;
    right: -1.2rem;
    width: max-content;
    background-color: $white;
    border-radius: 4px;
    overflow: hidden;

    &_inner {
      display: flex;
      align-items: center;
      gap: $xs;
      padding: 0.1rem $xs;
      cursor: pointer;
      color: $primary;
      font-family: $gilroy;
      &:hover {
        background-color: $lightGreen;
      }

      &_text {
        font-size: $sm;
      }
    }
  }
}
